<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/colors-dark.css">
    <link rel="stylesheet" href="/styles/alignment.css">
    <link rel="stylesheet" href="/styles/rows.css">
    <link rel="stylesheet" href="/styles/columns.css">
    <link rel="stylesheet" href="/styles/spacers.css">
    <link rel="stylesheet" href="/styles/fragments/pageTitle.css">
    <link rel="stylesheet" href="/styles/fragments/scheduleView.css">
    <link rel="stylesheet" href="/styles/fragments/bottomNavigation.css">
    <link rel="stylesheet" href="/styles/fragments/buttons.css">
    <script src="https://kit.fontawesome.com/2af22d8f17.js" crossorigin="anonymous"></script>
    <title>MAI View</title>
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>