html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    --background: #1a1c1e;
    --onBackground: #e2e2e5;
    --onBackground80: #e2e2e5CC;

    width: 100vw;
    height: 100vh;
    margin: 0 0;
    padding: 0 0;
    overflow: hidden;
    background: var(--background);
    color: var(--onBackground);
}

.row {
    width: 100%;
    margin: 0 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.separator {
    margin: 0 10%;
    width: 80%;
    border-bottom: 1px solid var(--onBackground80);
}

#pageTitle {
    height: 12em;
}

#scheduleView {
    width: 100%;
    height: calc(100% - 24em - 1px);
}

#bottomNavigation {
    width: 100%;
    height: 12em;
    background: #232a32;
}

#titleText {
    font-size: 5em;
}