html {
    width: 100%;
    height: 100%;
}

body {
    --background: #1a1c1e;
    --onBackground: #e2e2e5;
    --onBackground80: #e2e2e5CC;

    width: 100%;
    height: 100%;
    background: var(--background);
}

#pageTitle {
    margin: 0 10%;
    width: 80%;
    height: 12em;
    border-bottom: 0.5px solid var(--onBackground80);
}

#scheduleView {
    width: 100%;
    height: calc(100% - 24em);
}

#bottomNavigation {
    width: 100%;
    height: 12em;
    background: #232a32;
}